use MIC algo specified by sender

Partner may send us a header like

```
# pyas2
disposition-notification-options: signed-receipt-protocol=required, pkcs7-signature; signed-receipt-micalg=optional, sha1

# mendelson
disposition-notification-options: signed-receipt-protocol=optional, pkcs7-signature; signed-receipt-micalg=optional, sha-256

# opentext
Disposition-Notification-Options: signed-receipt-protocol=optional,pkcs7-signature; signed-receipt-micalg=optional, sha1, md5
```

meaning (in first example): partner wants us to calculate the MIC using the `sha1` algorithm.

we should attempt to detect this & honor the request when possible. currently we always use `sha256`, which causes message verification failures if the client requests a different algorithm.

non-critical change, since we would detect this mismatch during testing. but worth doing at some point to lessen headaches. (partner may not know what setting needs to be changed and will just report “we got a MIC failure” with no further details…)

this is the error logged by OpenAS2 if we don’t honor the sender’s requested MIC algorithm:

```
org.openas2.OpenAS2Exception: Message was sent but an error occured while receiving the MDN: MIC algorithm returned by partner is not the same as the algorithm requested but must be the same per RFC4130 section 7.4.3. Original MIC alg: sha1 ::: returned MIC alg: sha256
```

quote seems to be correct. we are definitely out of spec here as we currently hard-code sha256.

> For signed messages, the algorithm used to calculate the MIC MUST be the same as that used on the message that was signed.

https://www.rfc-editor.org/rfc/rfc4130#section-7.4.3

some draft/scratch work on this in #15.